.firstContWrapper {
	background: transparent;
	min-height: 60vh;
	height: max-content;
	padding-bottom: 10px;
	position: relative;
}
.firstCont {
	background: #f0f0f0;
	min-height: 60vh;
	height: fit-content;
	overflow-y: visible;
	overflow-x: hidden;
}
.secondContainer {
	background: #ffffff;
	min-height: 80vh;
	height: fit-content;
	margin-top: 30px;
	overflow-x: hidden;
}
.thirdContainer {
	background: rgba(206, 210, 220, 0.5);
	min-height: 60vh;
	height: fit-content;
	position: relative;
	overflow: visible;
	padding: 30px 0px;
	overflow-x: hidden;
}
.fourthContainer {
	background: rgba(248, 154, 68, 0.18);
	min-height: 40vh;
	padding-top: 40px;
	padding-bottom: 20px;
	height: fit-content;
	overflow: visible;
	overflow-x: hidden;
}
.fifthContainer {
	background: rgba(248, 154, 68, 0.18);
	min-height: 60vh;
	height: fit-content;
	overflow: visible;
	overflow-x: hidden;
}
.sixthContainer {
	background: rgba(206, 210, 220, 0.5);
	min-height: 60vh;
	height: fit-content;
	position: relative;
	overflow: visible;
	padding: 30px 0px;
	overflow-x: hidden;
}
.seventhContainer {
	background: white;
	min-height: 60vh;
	height: fit-content;
	overflow: visible;
	padding: 30px 0px;
	overflow-x: hidden;
}
.tenthContainer {
	background: rgba(248, 154, 68, 0.18);
	min-height: 60vh;
	height: fit-content;
	overflow: visible;
	padding: 30px 0px;
	margin-bottom: 30px;
	overflow-x: hidden;
}
.bottomLineDiv {
	width: 95%;
	max-width: 1000px;
	position: absolute;
	bottom: -20px;
	left: 0px;
	right: 0px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 0px;
	min-height: 50px;
	height: fit-content;
	border-radius: 5px;
	color: white;
}

.secondContainerCard {
	background: rgba(248, 154, 68, 0.18);

	/* background: rgba(33, 50, 94, 0.22); */
	height: 520px;
	width: 100%;
	max-width: 500px;
	border-radius: 33px;
}
.firstSectionHeading {
	font-size: 50px;
	font-weight: bold;
	max-width: 350px;
}
.scrolledImageContainer {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: fit-content;
}
.mainContainer {
	position: relative;
	padding: 0;
	min-width: 250px;
	min-height: 250px;
	display: inline-block;
	margin: 0 auto;
}

#myimage {
	border: none;
	max-width: 100%;
}

#textArea {
	display: block;
	padding: 10px 5px;
}

#theText {
	position: absolute;
	top: 90px;
	left: 0;
	background: #000;
	background: rgba(0, 0, 0, 0.1);
	color: #fff;
	width: auto;
	padding: 5px;
	text-align: left;
	border: dashed 2px #ff7f27;
	font: 15px Calibri;
	display: block;
	cursor: move;
}

canvas {
	max-width: 100%;
}
@media screen and (max-width: 768px) {
	.firstSectionHeading {
		font-size: 30px;
		max-width: none;
	}
	.resptextp {
		font-size: 0.67rem;
		max-width: 350px;
	}
	.secondContainerCard {
		border-radius: 0px !important;
		max-width: none !important;
	}
}
@media screen and (max-width: 767px) {
	.scrolledImageContainer {
		overflow-x: scroll;
	}
	.scrolledImageContainer img {
		height: 250px;
		width: 200% !important;
		object-fit: fill !important;
		margin-left: 250px;
		margin-right: 40px;
	}
}
@media screen and (max-width: 400px) {
	.scrolledImageContainer {
		overflow-x: scroll;
	}
	.scrolledImageContainer img {
		height: 250px;
		width: 200% !important;
		object-fit: fill !important;
		margin-left: 450px;
		margin-right: 40px;
	}
}
