.firstCont {
	background: #f0f0f0;
	min-height: 60vh;
	height: fit-content;
	position: relative;
	margin-bottom: 20px;
	overflow: visible;
}
.secondContainer {
	background: #ffffff;
	min-height: 80vh;
	height: fit-content;
	margin-top: 20px;
}
.thirdContainer {
	background: rgba(206, 210, 220, 0.5);
	min-height: 60vh;
	height: fit-content;
	position: relative;
	overflow: visible;
	padding: 30px 0px;
}
.fourthContainer {
	background: rgba(242, 225, 162, 0.54);
	min-height: 40vh;
	padding: 40px 0px;
	height: fit-content;
	overflow: visible;
}
.fifthContainer {
	background: rgba(242, 225, 162, 0.54);
	min-height: 60vh;
	height: fit-content;
	overflow: visible;
}
.sixthContainer {
	background: rgba(206, 210, 220, 0.5);
	min-height: 60vh;
	height: fit-content;
	position: relative;
	overflow: visible;
	padding: 30px 0px;
}
.seventhContainer {
	background: white;
	min-height: 60vh;
	height: fit-content;
	overflow: visible;
	padding: 30px 0px;
}
.tenthContainer {
	background: rgba(248, 154, 68, 0.18);
	min-height: 60vh;
	height: fit-content;
	overflow: visible;
	padding: 30px 0px;
	margin-bottom: 30px;
}
