* {
	margin: 0px;
	padding: 0px;
}

body {
	margin: 0;
	padding: 0px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
}
.slick-next:before {
	content: "" !important;
}
.slick-prev:before {
	content: "" !important;
}
.slick-next {
	right: -17px !important;
}
.slick-prev {
	left: -17px !important;
}
.slick-dots {
	position: unset !important;
}
.slick-prev,
.slick-next {
	background-color: white !important;
	border-radius: 50px;
	z-index: 1;
	width: 30px !important;
	height: 30px !important;
	display: flex !important;
	align-items: center;
	justify-content: center;
}
.mainColor {
	color: #21325e !important;
}
.secondaryColor {
	color: #f1d00a !important;
}
.allCenter {
	display: flex;
	align-items: center;
	justify-content: center;
}
.navbar-toggler {
	box-shadow: none !important;
	border: 0px !important;
	padding-left: 0px !important;
}
.mainbg {
	background-color: #21325e !important;
}
.thirdbg {
	background-color: #f89a44 !important;
}
.secondarybg {
	background: #f1d00a !important;
}
.lightSecondarybg {
	background-color: rgba(#f1d00a, 0.7);
}
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
p,
span,
a,
h1,
h2,
h3,
h4,
h4,
h6 {
	text-transform: capitalize;
}
.slick-dots .slick-active {
	width: 35px !important;
}
.slick-dots li {
	margin: 0px !important;
}
.slick-dots li.slick-active button:before {
	width: 30px !important;
	height: 4px;
	content: "";
	top: 7.5px;
	border-radius: 20px;
	background-color: black;
}
.responsiveQuestion {
	font-weight: bold;
	line-height: 50px;
	font-size: 20px;
}
.responsiveQuestion2 {
	font-weight: bold;
	font-size: 18px;
	line-height: 30px;
}
.responsiveHeading {
	font-size: 50px;
	font-weight: bold;
}
.nillbtn {
	box-shadow: none !important;
	--bs-btn-focus-box-shadow: none !important;
	border: 0px !important;
}
.topHeadingDiv {
	width: 100%;
	min-height: 10vh;
	height: fit-content;
	background: rgba(248, 154, 68, 0.18);
	margin-bottom: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 20px;
}
.modalContainer {
	width: 100%;
	min-height: 100%;
	height: max-content;
	background: rgba(0, 0, 0, 0.8);
	position: absolute;
	top: 0px;
	left: 0px;
	display: flex;
	z-index: 2000;
	align-items: center;
	justify-content: center;
}
.closeBtnn {
	position: absolute;
	top: 20px;
	right: 20px;
	background-color: lightgray !important;
}
.deliveryFormContainer {
	width: 100%;
	max-width: 450px;
	height: fit-content;
}
.deliveryFormContainer .customForm {
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	height: 100%;
	margin-top: 5px;
	margin-bottom: 30px;
}
.deliveryFormContainer .customForm div {
	margin-bottom: 20px;
	width: 100%;
}
.deliveryFormContainer .customForm div label {
	color: #21325e;
	width: 100%;
	font-weight: bold;
	margin-bottom: 5px;
}
.deliveryFormContainer .customForm div input {
	width: 100%;
	height: 50px;
	border: 2px solid #21325e;
	border-radius: 5px;
	padding: 0px 14px;
	outline: none !important;
	color: #21325e;
}
.deliveryFormContainer .customForm div textarea {
	width: 100%;
	height: 120px;
	border: 2px solid #21325e;
	border-radius: 5px;
	padding: 0px 14px;
	outline: none !important;
	color: #21325e;
}
.deliveryFormContainer .customForm button {
	width: 100%;
	max-width: 150px;
	height: 50px;
	color: #f89a44;
	background-color: #21325e;
	font-weight: bold;
	border-radius: 5px;
}
.deliveryFormContainer span {
	font-weight: bold;
	font-size: 40px;
	color: #21325e;
}
.deliveryFormContainer p {
	color: lightslategray;
	text-align: center;
	width: 85%;
	font-size: 12px;
	font-weight: bold;
}
.formContainer {
	width: 100%;
	max-width: 350px;
	height: 100%;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-top: 15px;
	margin-bottom: 15px;
}
.smallloader {
	border: 5px solid #fefefe;
	border-radius: 50%;
	border-top: 5px solid #f1d00a;
	width: 30px;
	height: 30px;
	animation: spin 2s linear infinite;
}
.smallloadertxt {
	font-size: 12px;
}

.loader {
	border: 8px solid #fefefe;
	border-radius: 50%;
	border-top: 8px solid #f1d00a;
	width: 70px;
	height: 70px;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.formContainer .customForm {
	width: 100%;
	height: 400px;
	display: flex;
	align-items: flex-start;
	justify-content: space-evenly;
	flex-direction: column;
	border: 1px solid #21325e;
	padding: 0px 20px;
	border-radius: 20px;
}
.formContainer .customForm div {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	width: 95%;
	max-width: 320px;
}
.formContainer .customForm div span {
	width: 100%;
	color: #21325e;
}
.whiteColor {
	color: white !important;
}
.errorDiv {
	width: 100%;
	padding: 5px 8px;
	text-align: center;
	background-color: red;
	color: white;
	border-radius: 10px;
}
.formContainer .customForm div input {
	border: 2px solid #21325e;
	color: #21325e;
	padding: 10px 10px;
	width: 100%;
	border-radius: 10px;
	margin-top: 15px;
	outline: 0px !important;
}
.formContainer .customForm button {
	padding: 10px 20px;
	background-color: #f1d00a;
	color: #21325e;
	font-weight: bold;
	border: none !important;
	outline: 0px !important;
	border-radius: 10px;
}
.formContainer span {
	font-size: 30px;
	font-weight: bold;
	width: 100%;
	margin-bottom: 20px;
	color: #21325e;
}
.showPreiewImage {
	object-fit: contain;
	width: 95%;
	max-width: 340px;
}
.showPreiewImage2 {
	object-fit: contain;
	width: 95%;
}
.firldsContainer {
	background: lightgray;
	min-height: 350px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
}
.firldsContainer .inputContainer {
	width: 100%;
	height: 50px;
	border: 2px solid #21325e;
	border-radius: 5px;
	outline: none !important;
	color: #21325e;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	overflow: hidden;
}
.firldsContainer .inputContainer input {
	width: calc(100% - 60px);
	height: 50px;
	outline: none !important;
	border: 0px !important;
	background: transparent;
	padding: 0px 14px;
}
.firldsContainer .inputContainer .clearbtnFilter {
	width: 60px;
	background-color: transparent !important;
	height: 50px;
	border-radius: 5px;
	padding: 0px 14px;
	outline: none !important;
	border: 0px !important;
	cursor: pointer;
	color: #21325e;
}
.filterBox {
	width: 100%;
	padding: 20px 10px;
	background-color: white;
	border-radius: 20px;
	max-width: 250px;
	margin: 0px auto;
	height: 100%;
}
.filterBox label {
	width: 100%;
	margin-bottom: 10px;
	cursor: pointer;
}
.filterBox label input {
	margin-right: 10px;
}
.respoloront {
	background-color: white;
}
.cartimgrsp {
	max-width: 90px;
	height: 100%;
	max-height: 90px;
	width: 100%;
	object-fit: contain;
}
@media screen and (max-width: 768px) {
	.respoloront {
		background-color: transparent !important;
		margin-top: 25px !important;
	}
	.cartimgrsp {
		max-width: none !important;
		height: 100%;
		max-height: none !important;
		width: 100%;
		object-fit: contain;
	}
	.showPreiewImage {
		height: 250px;
	}
	.showPreiewImage2 {
		height: 90%;
	}
	.responsiveQuestion {
		font-weight: bold;
		font-size: 16px;
		line-height: 18px;
		margin-top: 10px;
	}
	.responsiveQuestion2 {
		font-size: 16px;
	}
	.responsiveHeading {
		font-size: 20px;
	}
}
@media screen and (max-width: 320px) {
	.navbar-brand img {
		height: 30px !important;
	}
	.responsiveQuestion {
		font-weight: bold;
		font-size: 16px;
		line-height: 18px;
		margin-top: 10px;
	}
	.responsiveQuestion2 {
		font-size: 16px;
		line-height: 30px;
	}
	.responsiveHeading {
		font-size: 20px;
	}
}
